.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    .login-form{
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        h3{
            color: #0062cc;
        }
        form {
            padding: 10%;
            .form-group {
                .btn {
                    width: 50%;
                    margin-top: 35px;
                }
                .btn-secondary {
                    margin-top: 5px;
                }
                .ForgetPwd{
                    color: #0062cc;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }

    }
}




