.navbar {
    margin-bottom: 30px;
}

.left {
    float: left;
    .search {
        margin-top: 10px;
    }
}

.right {
    float: right;
    .car {
        margin-right: 80px;
        margin-bottom: 20px;
        padding: 10px;
        .card-body {
            text-align: center;
        }
    }
}
