<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/home">Loja-Carros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="search" class="form-control mr-sm-2" name="search" type="search" placeholder="Buscar..."
        aria-label="Search">
      <button class="search btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchCar()">Buscar</button>
      <button class="save btn btn-outline-success ml-2 my-sm-0" type="submit" *ngIf="profiles.indexOf('ADMIN') != -1" 
      (click)="save(modalFormCar)">Cadastrar Novo carro</button>
    </form>
  </div>
</nav>


<div class="col-md-2 left">
  <div class="row">
    <form #form="ngForm">
      <div class="card">
        <div class="card-header">Marca</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let brand of brands | unique">
            {{brand}}
            <label name="brand" class="checkbox">
              <input name="b{{brand}}" type="checkbox" ngModel />
            </label>
          </li>
        </ul>
        <div class="card-header">Tipo do Veículo</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let type of vehicleTypes | unique">
            {{type}}
            <label class="checkbox">
              <input name="t{{type}}" type="checkbox" ngModel />
            </label>
          </li>
        </ul>
        <div class="card-header">Ano</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let year of years | unique">
            {{year}}
            <label class="checkbox">
              <input name="y{{year}}" type="checkbox" ngModel />
            </label>
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block search" (click)="filterCars(form)">Buscar
        Carros</button>
    </form>
  </div>
</div>

<div class="col-md-10 right">
  <div class="row">
    <div class="card col-md-3 car" style="width: 18rem;" *ngFor="let car of cars">
      <img src={{car.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">{{car.model}}</h2>
        <h4>Preço: {{car.price | currency}}</h4>
        <h5>Marca: {{car.brand}}</h5>
        <h5>Tipo: {{car.vehicleType}}</h5>
        <button type="button" *ngIf="profiles.indexOf('ADMIN') != -1" class="btn btn-warning btn-sm mr-3"
          (click)="update(modalFormCar,car.id)">Atualizar</button>
        <button type="button" *ngIf="profiles.indexOf('ADMIN') != -1" class="btn btn-danger btn-sm"
          (click)="deleteCar(car.id)">Deletar</button>
      </div>
    </div>
  </div>
</div>

<ng-template #modalFormCar let-c="close" let-d="dismiss">
  <input type="text" hidden value="{{car.id}}">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atualizar Carro</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="update-form">
      <div class="form-group">
        <label for="model">Modelo</label>
        <input type="text" class="form-control" [(ngModel)]="car.model" id='model' name='model' required
          #model="ngModel">
        <p *ngIf="!model.valid && model.touched" role="alert">Modelo Obrigatório</p>
      </div>

      <div class="form-group">
        <label for="brand">Marca</label>
        <input type="text" class="form-control" [(ngModel)]="car.brand" id='brand' name='brand' required
          #brand="ngModel">
        <p *ngIf="!brand.valid && brand.touched" role="alert">Marca Obrigatória</p>
      </div>


      <div class="form-group">
        <label for="price">Preço</label>
        <input type="text" class="form-control" [(ngModel)]="car.price" id='price' name='price' required
          #price="ngModel">
        <p *ngIf="!price.valid && price.touched" role="alert">Marca Obrigatória</p>
      </div>


      <div class="form-group">
        <label for="vehicleType">Tipo</label>
        <input type="text" class="form-control" [(ngModel)]="car.vehicleType" id='vehicleType' name='vehicleType'
          required #type="ngModel">
        <p *ngIf="!type.valid && type.touched" role="alert">Tipo Obrigatória</p>
      </div>

      <div class="form-group">
        <label for="vehicleType">Ano</label>
        <input type="text" class="form-control" [(ngModel)]="car.year" id='year' name='year' required #year="ngModel">
        <p *ngIf="!year.valid && year.touched" role="alert">Ano Obrigatória</p>
      </div>

      <div class="form-group">
        <label for="image">Imagem</label>
        <input type="text" class="form-control" [(ngModel)]="car.image" id='image' name='image' required
          #image="ngModel">
        <p *ngIf="!image.valid && image.touched" role="alert">Imagem Obrigatória</p>
        <img src="{{car.image}}" alt="Car Image">
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" *ngIf="car.id != ''" (click)="updateCar()">Atualizar</button>
    <button type="button" class="btn btn-outline-dark" *ngIf="car.id == ''" (click)="saveCar()">Salvar</button>
  </div>
</ng-template>

